<div class="card">
    <div class="title">Hijo: LifecycleDemoComponent</div>
    <div class="subtitle">Demostración visual de hooks</div>


    <div class="grid">
        <section>
            <div class="pill ok">@Input <span class="code">count = {{count}}</span></div>
            <div class="muted m-b">Cambia el valor desde el padre para disparar <b>ngOnChanges</b>.</div>
            <div #domBox class="dombox">(ngAfterViewInit escribe aquí)</div>


            <h4 class="h4">Contenido proyectado (<span class="code">&lt;ng-content/&gt;</span>)</h4>
            <div class="chips">
                <ng-content></ng-content>
            </div>
        </section>


        <section>
            <div class="pill warn">Eventos del ciclo de vida</div>
            <div class="timeline">
                <div *ngFor="let e of events(); let i = index" class="item">
                    <div class="hook">{{e.hook}}</div>
                    <div>
                        <div class="muted">{{e.time}}</div>
                        <div *ngIf="e.info" class="code">{{e.info}}</div>
                    </div>
                </div>
                <div *ngIf="events().length === 0" class="muted">(Aún no hay eventos)</div>
            </div>
        </section>
    </div>
</div>